<h3>配送先登録/一覧</h3>

<%= form_with model: @address, :url => {:action => :create} do |f| %>
    <p><%= f.label :postal_code,"郵便番号（ハイフンなし）" %>
    <%= f.text_field :postal_code, autofocus: true %></p>
  
    <p><%= f.label :address,"住所" %>
    <%= f.text_area :address %></p>
  
    <p><%= f.label :name,"宛名"%>
    <%= f.text_field :name %></p>
    
    <%= f.submit"新規登録" %>
    
<% end %>

      <p>
          郵便番号
          住所
          宛名
      </p>
    
    <% @addresses.each do |address| %>
    
      <p>
        <%= address.postal_code %>
        <%= address.address %>
        <%= address.name %>
        <%= link_to "編集する" ,edit_public_address_path(address.id) %>
      <%= link_to "削除する" ,public_addresses_destroy_path(address.id) ,method: :delete  %>
      </p>
      
      
        
    <% end %>