<div class="col-md-3 m-5">
      <%= image_tag @item.image,size:"200×200" %>
</div>
<div class="col-md-3 m-5">
    <div class="m-3"><%= @item.name %></div>
    <div class="m-3"><%= @item.introduction %></div>
    <div class="mx-5">￥<%= @item.price.to_s(:delimited) %>(税込)</div>
    <div class="m-3">
        <% if @item.is_active == TRUE %>
          <%= form_with model: @cart_items, url: public_cart_items_path do |f| %>
            <%= f.select :amount, *[1..10] %>
            <%= f.hidden_field :item_id, :value => @item.id %>
            <%= f.submit "カートに入れる" %>
            <% end %>
        <% end %>
    </div>
</div>