
        <%= image_tag @item.image,size:"300×300" %>
      
      
          <h3><%= @item.name %></h3>
        
          <p><%= @item.introduction %> </p>

       
          <p>￥<%= (@item.price * 1.1).floor %>円（税込）</p>

        <% if @item.is_active == TRUE %>
          <%= form_with model:@cart_item, url: public_cart_items_path do |f| %>
            <%= f.select :amount, *[1..10] %>
            <%= f.hidden_field :item_id, :value => @item.id %>
            <%= f.submit "カートに入れる" %>
          <% end %>
        <% end %>
      